version: "3.9"

services:
  pgvector:
    image: ankane/pgvector
    container_name: pgvector
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: faq_bot
    ports:
      - "5433:5432"
    volumes:
      - ./pgvector-data:/var/lib/postgresql/data

volumes:
  pgvector-data:

